.layout-wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "barrasup    barrasup  barrasup   barrasup"
                         "divisao     divisao   divisao    divisao"
                         "lateral     principal principal  principal"
                         "lateral     principal principal  principal"
                         "lateralinf  principal principal  principal";
    grid-template-rows: 50px 1px auto auto auto;
    grid-template-columns: 240px auto auto auto;

}

@media (max-width: 600px){
    .layout-wrapper{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-areas: "barrasup    barrasup  barrasup   barrasup"
                             "divisao     divisao   divisao    divisao"
                             "lateral     principal principal  principal"
                             "lateral     principal principal  principal"
                             "lateralinf  principal principal  principal";
        grid-template-rows: 25px 1px auto auto auto;
        grid-template-columns: 25px auto auto auto;
    
    }
}

.principal{
    grid-area: principal;
    background-color: "#0E0E10";
}

.barrasup{
    
    grid-area: barrasup;
    background-color: rgb(28, 204, 57);
}
.divisao{
    grid-area: divisao;
}
.lateral{
    grid-area: lateral;
    background-color: black;
}

.lateralinf{
    grid-area: lateralinf;
    background-color: black;
}